@charset "UTF-8";

@import 'variables';
@import 'mixins';


$mockup-height: 700px;

$token: '#';
$section-header-height: 56px;

$sidebar-width: 240px;

$icon-size: 40px;
$body-padding: 20px;

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@mixin transition-all {
  transition: all .3s ease;
}

.discord-mockup {
  background: #36393e;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: $mockup-height;
  border-radius: 5px;
  overflow-x: hidden;

   @media #{$small-and-down} {
     //flex-direction: column;
     //
     //.items-panel {
     //   width: 100% !important;
     //   height: 80px !important;
     //
     //   .actions {
     //     display: none !important;
     //   }
     //
     //   .items {
     //     flex-direction: row !important;
     //
     //     .item {
     //       margin: auto 10px 0 0 !important;
     //     }
     //   }
     //}
     //.sidebar-panel {
     //  width: 100% !important;
     //  height: 120px !important;
     //
     //  .header {
     //    display: none !important;
     //  }
     //
     //  .items {
     //    margin-top: 0 !important;
     //  }
     //}
     .items-panel {
       display: none;

       &.show {
         display: block;
       }
     }
     .sidebar-panel {
       display: none;

       &.show {
         display: flex;
       }
     }
   }

  .section-header {
    //float: top;
    position: absolute;
    z-index: 1;
    height: $section-header-height;
    line-height: 56px;
    vertical-align: middle;
    color: white;
    padding-left: 24px;
    margin-bottom: 20px;
    font-weight: bold;

  }

  .items-panel {
    background: #1e2124;
    height: inherit;
    width: 80px;
    padding: 15px;
    //border-radius: 5px 0 0 5px;

    .actions {
      height: 20px;
      display: flex;
      margin-bottom: 10px;

      .action-item {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        margin: auto;

        &:hover {
          filter: brightness(2);
        }
      }

      .close {
        @extend .action-item;
        background: #ff6052;
      }
      .minimize {
        @extend .action-item;
        background: #ffbe06;
      }
      .zoom {
        @extend .action-item;
        background: #16cc37;
      }

    }

    .items {
      display: flex;
      flex-direction: column;

      .item {
        cursor: pointer;
        margin: 0 auto 10px;
        color: white;
        height: 50px;
        width: 50px;

        img {
          border-radius: 50%;
          transition: all 0.3s $bounce;
          &:hover {
            border-radius: 30%;
          }
        }

        .guild-add {
          @include transition-all;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background: transparent;
          color: #535559;
          border: 1px dashed #535559;
          padding: 0;
          font-size: 40px;
          font-weight: 200;
          text-align: center;
          line-height: 47px;

          &:hover {
            border: 1px dashed white;
            color: white;
          }
        }
      }
    }
  }
  .sidebar-panel {
    background: #2e3136;
    height: inherit;
    overflow-y: auto;
    width: $sidebar-width;

    @media #{$medium-and-down} {
      width: $sidebar-width - 20;
    }

    flex-shrink: 1;

    .header {
      @extend .section-header;
      background: #2e3136;
      width: $sidebar-width;
      border-bottom: solid 1px #23252a;
    }

    @include hide-scrollbar;

    .items {
      margin-top: $section-header-height;
      .item {
        height: 36px;
        cursor: pointer;
        line-height: 36px;
        vertical-align: middle;
        padding-left: 20px;
        opacity: 0.3;
        color: white;
        &::before {
          content: $token;
          color: #8a8e94 !important;
          margin-right: 3px;
          font-weight: normal;
        }

        &:hover {
          opacity: 1;
          background: linear-gradient(to right,#282b30 85%,#2e3136);
        }
      }
    }
  }

  .messages-panel {

    height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;

    @include hide-scrollbar;

    .messages-group {

      display: none;

      &.show {
        display: block;
      }

      .header {
        @extend .section-header;
        background: #36393e;
        border-bottom: solid 1px #303337;
        width: 100%;
        position: absolute;
        top: 0;

        &::before {
          content: $token;
          color: #8a8e94 !important;
          margin-right: 3px;
          font-weight: normal;
        }
      }

      .messages {
        padding: 0 20px 0;
        margin-top: $section-header-height;
        .message {
          width: 100%;
          border-bottom: solid 1px #4d5259;
          position: relative;
          padding: 15px 0 15px;

          .icon {
            float: left;
            height: $icon-size;
            width: $icon-size;
            margin-right: $body-padding;

            img {
              border-radius: 50%;
            }
          }

          .body {
            margin-left: $icon-size + $body-padding;

            .user-name {
              color: white;
              font-weight: bold;
            }

            p, .content {
              color: hsla(0, 0%, 100%, .7);
              font-size: 13px;
              margin: 0;
            }

            b {
              font-weight: 900;
            }

            .embed-wrapper {
              margin-top: 10px;
              display: flex;
              line-height: 1.1em;

              .content-inner {
                background-color: rgba(46,48,54,.3);
                border: solid 1px rgba(46,48,54,.6);
                border-radius: 0 3px 3px 0;
                padding: 8px 10px;
                display: flex;

                .description {
                  $field-padding: 15px;

                  word-wrap: break-word;
                  flex: 1;
                  max-width: 500px;
                  color: hsla(0, 0%, 100%, .7);
                  margin-bottom: -$field-padding;

                  font-size: 13px;

                  a {
                    color: #0096d1;
                    font-weight: bold;

                    &:hover {
                      text-decoration: underline;
                    }
                  }

                  .title {
                    color: white;
                    font-weight: bold;
                    display: inline-block;
                  }

                  .text {
                    padding-bottom: $field-padding;
                  }

                  .fields {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding-bottom: $field-padding;

                    .field-title {
                      color: white;
                      font-weight: bold;
                    }

                    .field {
                      flex: 0;
                      min-width: 100%;
                      max-width: 506px;
                    }
                    .field-inline {
                      flex: 1;
                      min-width: 150px;
                      max-width: 506px;
                      flex-basis: auto;
                    }
                  }
                }

                .thumb {
                  float: right;
                  max-height: 80px;
                  max-width: 80px;
                  width: auto;
                  border-radius: 3px;
                  object-fit: contain;
                  margin-left: 20px;
                }
              }
              .color-pill {
                float: left;
                background-color: rgb(0, 80, 175);
                border-radius: 3px 0 0 3px;
                width: 4px;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
}