// Mixins

@import "variables";

@mixin transition-all {
    transition: all 0.3s ease-in-out;
}

@mixin background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin heading-font {
	font-family: $major-font;
	font-weight: bold;
	letter-spacing: 1px;
}

@mixin body-font {
	font-family: $body-font;
}

@mixin alt-font {
	font-family: $alt-font;
}

* {
  &.hide {
    display: none !important;
  }
}