@charset "UTF-8";

@import 'variables';
@import 'mixins';

html,
body {
  height: 100%;
  width: 100%;
}

body {
  @include body-font;
}

a {
  @include transition-all;
  color: $primary;
  &:hover,
  &:focus {
    color: darken($primary, 10%);
  }
}

.mh-75px {
  max-height: 75px;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border: 1px fade($gray-darker, 10%);
}

hr.light {
  border-color: white;
}

h1, h2, h3 {
  @include heading-font;
}

h4, h5, h6 {
  @include body-font;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@mixin container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media #{$medium-and-down} {
  .valign-wrapper {
    display: inherit;
  }
}

.navbar-fixed {
  position: absolute;
}

nav {
  @include transition-all;

  background: transparent;
  box-shadow: none;
  color: white;

  .brand-logo {
    @include heading-font;

    color: white;

    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;

    &:hover {
      color: darken(white, 20%);
    }
  }

  ul {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);

    background: rgba(255, 255, 255, 0.65);

    li {
      //background: white;



      &.super-item {
        @include transition-all;

        background: #9571d3;

        > a {
          color: white !important;
          @include transition-all;
        }

        &.active,
        &:hover {
          ::after {
            background: #7C58BA !important;
          }

          > a,
          > a:focus {
            @include transition-all;
            background: #7C58BA !important;
          }
        }
      }

      &.uber-item {
        @include transition-all;

        background: #7289da;

        > a {
          color: white !important;
          @include transition-all;
        }

        &.active,
        &:hover {
          ::after {
            background: #0d89d7 !important;
          }

          > a,
          > a:focus {
            @include transition-all;
            color: white !important;
            background: #0d89d7 !important;
          }
        }
      }

      &.alt-item {
        @include transition-all;

        background: #7289da;

        .discord-avatar {
          height: 64px;
          margin-bottom: -26px;
          margin-right: 20px;
        }

        a.dropdown-button {
          padding-left: 0;
          max-height: 64px;
        }

        > a {
          color: white !important;
          @include transition-all;
        }

        &.active,
        &:hover {
          ::after {
            background: #29c86d !important;
          }

          > a,
          > a:focus {
            @include transition-all;
            color: white !important;
            background: #29c86d !important;
          }
        }
      }

      a {
        color: black;
      }
    }
  }

  &.pinned {
    background: #23272A;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);

    i {
      color: white;
    }

    ul {
      box-shadow: none;
    }

    .brand-logo {
      color: white;

      &:hover {
        color: $primary;
      }
    }

    .side-nav {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12),
      0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
    }
  }
}

.hero {
  width: 100%;
  //height: 100%;
  overflow-y: hidden;
  background: url('../assets/img/bg-tile.png'), linear-gradient(to bottom, #2C2F33, #23272A);

  min-height: 100%;

  .container {
    width: 90%;
    max-width: 90% !important;
  }

  padding-top: 70px;

  @media #{$large-and-up} {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .float {
    animation: float 6s ease-in-out infinite;
  }

  .header-content {
    color: #fff;

    h1 {
      @include heading-font;
      letter-spacing: 5px;
      font-size: 30px;

      @media #{$large-and-up} {
        font-size: 40px;
        letter-spacing: 10px;
      }
    }

    h2 {
      @include body-font;
      font-size: 20px;

      @media #{$large-and-up} {
        font-size: 25px;
      }
    }

    a {
      background: #9571d3;
      margin: 5px;
      border-radius: 5px;
      @include transition-all;
      color: white !important;
      &:hover,
      &:focus {
        color: darken(#9571d3, 10%);
      }
    }
  }

  .canary {
    background: #e69e36!important;
  }

  .row {
    margin-bottom: 0;

    .col {
      float: none;

      @media #{$medium-and-up} {
        float: left;
      }
    }
  }

}

section.primary {
  padding: 100px;

  h1 {
    margin-top: 50px;
    font-size: 50px;
  }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
