mixin msg(icon, altText, name, msg)
    .message
        .icon: img.responsive-img(src=icon, alt=altText)
        .body
            .user-name= name
            if msg
                .content= msg
            else if block
                block
            else
                .content No content provided.

mixin embed-content(color)
    .embed-wrapper
        if color
            .color-pill(style='background-color: ' + color)
        else
            .color-pill
        .content-inner
            block

mixin embed-desc(color)
    +embed-content(color)
        .description
            block
