include mixins

.discord-mockup.z-depth-3
    .items-panel
        .actions
            .close
            .minimize
            .zoom
        .items
            .item
                img.responsive-img(src='assets/img/logo.jpg')
            .item
                a(href='/invite', target='_blank'): button.guild-add +
    .sidebar-panel
        .header Demonstration
        .items
            .item.trigger-group(data='default')
                | help
            .item.trigger-group(data='general')
                | general
            .item.trigger-group(data='searching')
                | searching
            .item.trigger-group(data='overwatch')
                | overwatch
            .item.trigger-group(data='music')
                | music
            .item
                | ... more docs soon!

    .messages-panel
        include msg-groups/default
        include msg-groups/general
        include msg-groups/searching
        include msg-groups/overwatch
        include msg-groups/music
