include mixins

.discord-mockup.z-depth-3
    .items-panel
        .actions
            .close
            .minimize
            .zoom
        .items
            .item
                a(href='http://discord.gg/NQRpmr2', target='_blank'): img.responsive-img(src='assets/img/logo.jpg')
            .item
                a(href='/invite', target='_blank'): button.guild-add +
    .sidebar-panel
        .header Features
        .items
            .item
                .content.trigger-group(data='default')
                    | help
            .item
                .content.trigger-group(data='general')
                    | general
            .item
                .content.trigger-group(data='searching')
                    | searching
            .item
                .content.trigger-group(data='overwatch')
                    | overwatch
            .item
                .content.trigger-group(data='music')
                    | music
            .item
                .content
                    | ... more docs soon!
            .item
                a(href='https://www.ej-technologies.com/products/jprofiler/overview.html', target='_blank'): .content
                    | AD: JProfiler (Free License)

    .messages-panel
        include msg-groups/default
        include msg-groups/general
        include msg-groups/searching
        include msg-groups/overwatch
        include msg-groups/music
