include mixins

.discord-mockup.z-depth-3
    .items-panel
        .items
            .item
                a(href='http://discord.gg/musicbot', target='_blank'): img.responsive-img(src='assets/img/logo.png', alt='The bot logo')
            if login
                each guild in guilds
                    .item
                        a(href=guild.link, target='_blank'): img.responsive-img(src=guild.icon)
            .item
                a(href='https://invite.octave.gg', target='_blank'): button.guild-add +
    .sidebar-panel
        .header Features
        .items
            .item
                .content.trigger-group(data='default')
                    | readme
            .item
                .content.trigger-group(data='mod')
                    | configurable
            .item
                .content.trigger-group(data='music')
                    | music-features
            .item
                .content.trigger-group(data='general')
                    | general
            .item
                .content.trigger-group(data='sponsor')
                    | partners
            .item
                .content.trigger-group(data='credits')
                    | credits

    .messages-panel
        include msg-groups/default
        include msg-groups/configuration
        include msg-groups/general
        include msg-groups/music
        include msg-groups/sponsor
        include msg-groups/credits
