#mod.messages-group
    .header Moderate-and-Configure-the-Bot
    .messages
        +msg('assets/img/melmsie.png', 'Melmsie', '_settings autorole')
        +msg('assets/img/logo.png', 'Octave')
            +embed-content
                .description
                    .title _settings autorole
                    .text
                        p Set auto-roles that are assigned to users on joining.
                        p Current auto-role: <u>None</u>

                    .fields
                        .field
                            .field-title Arguments
                            p
                                code.inline set (@role)
                                |  • Set the auto-role.
                            p
                                code.inline unset
                                |  • Unset the auto-role.
        +msg('assets/img/melmsie.png', 'Melmsie', '_settings commands')
        +msg('assets/img/logo.png', 'Octave')
            +embed-content
                .description
                    .title _settings commmands
                    .text
                        p Enable or disable certain commands.
                    .fields
                        .field
                            .field-title Arguments
                            p
                                code.inline enable (cmd)
                                |  • Enable a command.
                            p
                                code.inline disable (cmd)
                                |  • Disable a command.
                            p
                                code.inline list
                                |  • List disabled commands.
        +msg('assets/img/melmsie.png', 'Melmsie', '_settings ignore')
        +msg('assets/img/logo.png', 'Octave')
            +embed-content
                .description
                    .title _settings ignore
                    .text
                        p Make the bot ignore certain users, channels or roles.

                    .fields
                        .field
                            .field-title Arguments
                            p
                                code.inline user (user)
                                |  • Ignore/unignore a user.
                            p
                                code.inline channel (channel)
                                |  • Ignore/unignore a channel.
                            p
                                code.inline role (role)
                                |  • Ignore/unignore users with a role.
                            p
                                code.inline list
                                |  • List ignored entities.