#credits.messages-group
    .header Development Credits
    .messages
        +msg('assets/img/logo.png', 'Octave')
            +embed-desc('#9571d3')
                .title Melmsie
                img.thumb(src='assets/img/melmsie.png')
                .text: p Owner of Octave and Dank Memer, in charge of marketing and creative decisions.
            +embed-desc('#ff69b4')
                .title Kodehawa
                img.thumb(src='assets/img/kode.png')
                .text: p Head developer of Octave, also owns the popular bot 
                        a(href='https://mantaro.site/' target='_blank') Mantaro
            +embed-desc('#ca2d36')
                .title Aetheryx
                img.thumb(src='assets/img/aetheryx.png')
                .text: p Head of Development on 
                        a(href='https://dankmemer.lol/' target='_blank') Dank Memer
            +embed-desc
                .title Avarel
                img.thumb(src='assets/img/avarel.jpg')
                .text: p Previous owner/developer on Octave, formerly known as Gnar
            +embed-desc('#8A0303')
                .title Xevryll
                img.thumb(src='assets/img/xev.png')
                .text: p Previous owner/developer on Octave, formerly known as Gnar