mixin cmds(...cmds)
    each cmd in cmds
        code.inline= cmd
        | &ensp;

#default.messages-group.show
    .header Help and Documentation
    .messages
        +msg('assets/img/avarel.jpg', 'Avalon', '_help')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-desc
                .title Gnar Documentation
                .text The prefix of the bot on this server is <code class="inline">_</code>.

                .fields
                    .field
                        .field-title Settings — 9
                        +cmds(
                            'prefix', 'commands', 'ignore', 'autodelete', 'prune', 'autorole', 'selfroles', 'music',
                            'resetall'
                        )

                .fields
                    .field
                        .field-title Music — 18
                        +cmds(
                            'play', 'pause', 'stop', 'skip', 'remove', 'move', 'forceskip', 'shuffle', 'nowplaying',
                            'queue', 'restart', 'repeat', 'voteskip', 'volume', 'jump', 'discordfm', 'youtube',
                            'soundcloud'
                        )
                .fields
                    .field
                        .field-title Fun — 11
                        +cmds(
                            'ascii', 'coinflip', 'dialog', 'yodatalk', 'roll', 'poop', '8ball', 'leet', 'lenny', 'ttb',
                            'tts'
                        )

                .fields
                    .field
                        .field-title Media — 14
                        +cmds(
                            'google', 'video', 'urbandict', 'overwatch', 'game', 'anime', 'manga', 'meme', 'trump',
                            'cats', 'c&h', 'rcg', 'xkcd', 'action'
                        )

                .fields
                    .field
                        .field-title General — 16
                        +cmds(
                            'help', 'invite', 'ping', 'kaiper', 'math', 'remindme', 'uptime', 'user', 'guild', 'about',
                            'donate', 'redeem', 'iam', 'quote', 'react', 'poll'
                        )
