mixin cmds(...cmds)
    each cmd in cmds
        code.inline= cmd
        | &ensp;

mixin cmd(title, description)
    code.inline=title
    | &nbsp;•&nbsp;
    =description
    br

#default.messages-group.show
    .header Help-and-Documentation
    .messages
        +msg('assets/img/logo.png', 'Octave Discord Music Avatar', 'Octave')
            +embed-desc('#00dd58')
                .title Audio Sources
                .fields
                    .field
                        .text
                            +cmd('YouTube', 'Tracks, Playlists, Searches, Links, Streams')
                            +cmd('SoundCloud', 'Tracks, Playlists, Searches, Links')
                            +cmd('Spotify', 'Links to tracks, Playlists')
                            +cmd('Twitch', "Links to streams")
                            +cmd('Mixer', 'Links to streams')
                            +cmd('BandCamp', 'Links to tracks and albums')
        +msg('assets/img/melmsie.png', 'Melmsie avatar', 'Melmsie', '_help')
        +msg('assets/img/logo.png', 'Octave Discord Music Avatar', 'Octave')
            +embed-desc('#9571d3')
                .title Available Commands
                .text The prefix of the bot by default is <code class="inline">_</code>.

                .fields
                    .field
                        .field-title Settings — 9
                        +cmds(
                            'prune', 'settings'
                        )

                .fields
                    .field
                        .field-title Music — 21
                        +cmds(
                            'play', 'pause', 'stop', 'skip', 'remove', 'move', 'lyrics', 'shuffle', 'nowplaying',
                            'queue', 'restart', 'repeat', 'voteskip', 'volume', 'jump', 'radio', 'youtube',
                            'soundcloud', 'bassboost', 'cleanup', 'filter'
                        )

                .fields
                    .field
                        .field-title General — 14
                        +cmds(
                            'help', 'invite', 'ping', 'vote', 'support', 'uptime', 'user', 'guild', 'about',
                            'donate', 'redeem', 'iam', 'quote', 'poll'
                        )
        +msg('assets/img/melmsie.png', 'Melmsie avatar', 'Melmsie', '_help [Music]')
        +msg('assets/img/logo.png', 'Octave Discord Music Avatar', 'Octave')
            +embed-desc('#00dd58')
                .title Music Commands
                .fields
                    .field
                        .field-title Commands
                        .text
                            +cmd('play', 'Joins and play music in a channel.')
                            +cmd('pause', 'Pause or resume the music player.')
                            +cmd('stop', 'Stop and clear the music player.')
                            +cmd('skip', "Skip the current music track if you're the requester.")
                            +cmd('remove', 'Remove a song from the queue.')
                            +cmd('move', 'Move the bot to a channel.')
                            +cmd('lyrics', 'Get the lyrics of the currently playing song, or others.')
                            +cmd('shuffle', 'Shuffle the music queue.')
                            +cmd('nowplaying', "Shows what's currently playing.")
                            +cmd('queue', "Shows the music that's currently queued.")
                            +cmd('restart', 'Restart the current song.')
                            +cmd('repeat', 'Set if the music player should repeat.')
                            +cmd('voteskip', 'Vote to skip the current music track.')
                            +cmd('volume', 'Set the volume of the music player.')
                            +cmd('jump', 'Set the time marker of the music playback.')
                            +cmd('radio', 'Stream random songs from radio stations.')
                            +cmd('youtube', 'Search and see YouTube results.')
                            +cmd('soundcloud', 'Search and see SoundCloud results.')
                            +cmd('bassboost', 'Boost the bass in Octave\'s audio.')
                            +cmd('cleanup', 'Cleanup the queue (duplicated, users who left)')
                            +cmd('filter', 'Apply audio filters to Octave\'s audio (such as speed and pitch)')
