#default.messages-group
    .header Help and Documentation
    .messages
        .message
            .icon: img.responsive-img(src='img/avarel.jpg')
            .body
                .user-name Avalon
                .content _help
        .message
            .icon: img.responsive-img(src='img/logo.jpg')
            .body
                .user-name Gnar
                .embed-wrapper
                    .color-pill
                    .content-inner
                        .description
                            .title Gnar Documentation
                            p This is all of GN4R-Bot's currently registered commands on the your guild.


                            .fields
                                b: u Bot Commander 5
                            .fields
                                .field-inline
                                    p: a _ban
                                    p: a _kick
                                .field-inline
                                    p: a _unban
                                    p: a _prune
                                .field-inline
                                    p: a _deletemsg


                            .fields
                                b: u DJ 7
                            .fields
                                .field-inline
                                    p
                                        b ♬
                                        a _leave
                                    p
                                        b ♬
                                        a _pause
                                    p
                                        b ♬
                                        a _stop
                                .field-inline
                                    p
                                        b ♬
                                        a _skip
                                    p
                                        b ♬
                                        a _restart
                                    p
                                        b ♬
                                        a _repeat
                                .field-inline
                                    p
                                        b ♬
                                        a _reset


                            .fields
                                b: u User 46
                            .fields
                                .field-inline
                                    p: a _help
                                    p: a _invite
                                    p: a _ping
                                    p: a _math
                                    p: a _remindme
                                    p: a _google
                                    p: a _youtube
                                    p: a _uptime
                                    p: a _whois
                                    p: a _info
                                    p: a _ascii
                                    p: a _coinflip
                                    p: a _dialog
                                    p: a _yodatalk
                                    p: a _roll
                                    p: a _poop
                                .field-inline
                                    p: a _goodshit
                                    p: a _8ball
                                    p: a _leet
                                    p: a _marvel
                                    p: a _shared
                                    p: a _tts
                                    p: a _react
                                    p: a _champdata
                                    p: a _answer
                                    p: a _trivia
                                    p: a _ub
                                    p: a _q
                                    p: a _cbot
                                    p: a _pbot
                                    p: a _meme
                                    p: a _adventure
                                .field-inline
                                    p: a _startadventure
                                    p: a _overwatch
                                    p: a _league
                                    p: a _game
                                    p: a _cats
                                    p: a _c&h
                                    p: a _rcg
                                    p: a _xkcd
                                    p: a _quote
                                    p: a _ttb
                                    p
                                        b ♬
                                        a _join
                                    p
                                        b ♬
                                        a _play
                                    p
                                        b ♬
                                        a _nowplaying
                                    p
                                        b ♬
                                        a _queue

                            br
                            p To view a command's description, do _help [command].
                            br
                            p <b>DJ</b> commands requires a role named exactly <a>DJ</a>.
                            p <b>Bot Commander</b> commands requires a role named exactly <a>Bot Commander</a>.
                            p <b>Server Owner</b> commands requires you to be the <a>server owner</a> to execute.


