mixin cmds(...cmds)
    each cmd in cmds
        code.inline= cmd
        | &ensp;

#default.messages-group
    .header Help and Documentation
    .messages
        +msg('assets/img/avarel.jpg', 'Avalon', '_help')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-desc
                .title Gnar Documentation
                .text The prefix of the bot on this server is <code class="inline">_</code>.

                .fields
                    .field
                        .field-title Moderation — 4
                        +cmds('cmd', 'ignore', 'prune', 'autorole')

                .fields
                    .field
                        .field-title Music — 15
                        +cmds('youtube', 'soundcloud', 'music', 'play', 'pause', 'stop', 'skip', 'shuffle', 'nowplaying',
                                'queue', 'restart', 'repeat', 'voteskip', 'volume', 'seek')

                .fields
                    .field
                        .field-title Fun — 18
                        +cmds('urbandict', 'trump', 'coinflip', 'yodatalk', 'roll', 'poop', 'goodshit', '8ball', 'leet',
                                'tts', 'answer', 'trivia', 'pbot', 'meme', 'cats', 'c&h', 'rcg', 'xkcd')

                .fields
                    .field
                        .field-title General — 21
                        +cmds('help', 'invite', 'ping', 'math', 'remindme', 'google', 'video', 'uptime', 'whois', 'guild',
                                'info', 'donate', 'redeem', 'ascii', 'dialog', 'react', 'overwatch', 'game', 'poll', 'quote',
                                'ttb')
