mixin cmd(s)
    p: a= '_' + s


#default.messages-group
    .header Help and Documentation
    .messages
        +msg('assets/img/avarel.jpg', 'Avalon', '_help')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-desc
                .title Gnar Documentation
                .text This is all of GN4R-Bot's currently registered commands on the your guild.

                .fields
                .fields
                    .field
                        .field-title Moderation — 8
                        p Commands that help with the regulating normal server tasks.
                .fields
                    .field-inline
                        +cmd("prune")
                    .field-inline
                        +cmd("enable")
                    .field-inline
                        +cmd("disable")

                .fields
                .fields
                    .field
                        .field-title Music — 15
                        p Listen to the bot's fabulous renditions of your favorite songs.
                .fields
                    .field-inline
                        +cmd("youtube")
                        +cmd("soundcloud")
                        +cmd("music")
                        +cmd("play")
                        +cmd("pause")
                    .field-inline
                        +cmd("stop")
                        +cmd("skip")
                        +cmd("shuffle")
                        +cmd("nowplaying")
                        +cmd("queue")
                    .field-inline
                        +cmd("restart")
                        +cmd("repeat")
                        +cmd("reset")
                        +cmd("voteskip")
                        +cmd("volume")

                .fields
                .fields
                    .field
                        .field-title Fun — 17
                        p Everything here is memes. Dank unfiltered memes. Batteries not included.
                .fields
                    .field-inline
                        +cmd("urbandict")
                        +cmd("coinflip")
                        +cmd("yodatalk")
                        +cmd("roll")
                        +cmd("poop")
                        +cmd("goodshit")
                    .field-inline
                        +cmd("8ball")
                        +cmd("leet")
                        +cmd("tts")
                        +cmd("answer")
                        +cmd("trivia")
                        +cmd("pbot")
                    .field-inline
                        +cmd("meme")
                        +cmd("cats")
                        +cmd("c&h")
                        +cmd("rcg")
                        +cmd("xkcd")

                .fields
                .fields
                    .field
                        .field-title General — 19
                        p General bot commands that every lame bot has. Have fun!
                .fields
                    .field-inline
                        +cmd("help")
                        +cmd("invite")
                        +cmd("ping")
                        +cmd("math")
                        +cmd("remindme")
                        +cmd("google")
                        +cmd("video")
                    .field-inline
                        +cmd("ptime")
                        +cmd("whois")
                        +cmd("info")
                        +cmd("donate")
                        +cmd("ascii")
                        +cmd("dialog")
                        +cmd("react")
                    .field-inline
                        +cmd("overwatch")
                        +cmd("game")
                        +cmd("poll")
                        +cmd("quote")
                        +cmd("ttb")

                .fields
                .fields
                    .field
                        .field-title Additional Information
                        p To view a command's description, do _help [command].
                    .field
                        .field-title News
                        p Check the news by using the bot on Discord.

                    .field-inline
                        .field-title Contact
                        p: a Website
                        p: a Discord Server
                    .field-inline
                        .field-title Donations
                        p: a PayPal
                        p: a Patreon
