mixin cmds(...cmds)
    each cmd in cmds
        code.inline= cmd
        | &ensp;

mixin cmd(title, description)
    code.inline=title
    | &nbsp;•&nbsp;
    =description
    br

#default.messages-group.show
    .header Help and Documentation
    .messages
        +msg('assets/img/avarel.png', 'Avalon', '_help')
        +msg('assets/img/logo.png', 'Gnar')
            +embed-desc
                .title Gnar Documentation
                .text The prefix of the bot on this server is <code class="inline">_</code>.

                .fields
                    .field
                        .field-title Settings — 9
                        +cmds(
                            'prune', 'settings'
                        )

                .fields
                    .field
                        .field-title Music — 18
                        +cmds(
                            'play', 'pause', 'stop', 'skip', 'remove', 'move', 'forceskip', 'shuffle', 'nowplaying',
                            'queue', 'restart', 'repeat', 'voteskip', 'volume', 'jump', 'discordfm', 'youtube',
                            'soundcloud'
                        )
                .fields
                    .field
                        .field-title Fun — 11
                        +cmds(
                            'ascii', 'coinflip', 'dialog', 'yodatalk', 'roll', 'poop', '8ball', 'leet', 'lenny', 'ttb',
                            'tts'
                        )

                .fields
                    .field
                        .field-title Media — 14
                        +cmds(
                            'google', 'video', 'urbandict', 'overwatch', 'game', 'anime', 'manga', 'meme', 'trump',
                            'cats', 'c&h', 'rcg', 'xkcd', 'action'
                        )

                .fields
                    .field
                        .field-title General — 16
                        +cmds(
                            'help', 'invite', 'ping', 'kaiper', 'math', 'remindme', 'uptime', 'user', 'guild', 'about',
                            'donate', 'redeem', 'iam', 'quote', 'react', 'poll'
                        )
        +msg('assets/img/avarel.png', 'Avalon', '_help [Music]')
        +msg('assets/img/logo.png', 'Gnar')
            +embed-desc('#00dd58')
                .title Music Commands
                .fields
                    .field
                        .field-title Commands
                        .text
                            +cmd('play', 'Joins and play music in a channel.')
                            +cmd('pause', 'Pause or resume the music player.')
                            +cmd('stop', 'Stop and clear the music player.')
                            +cmd('skip', "Skip the current music track if you're the requester.")
                            +cmd('remove', 'Remove a song from the queue.')
                            +cmd('move', 'Move the bot to a channel.')
                            +cmd('forceskip', 'Skip the current music track forcefully.')
                            +cmd('shuffle', 'Shuffle the music queue.')
                            +cmd('nowplaying', "Shows what's currently playing.")
                            +cmd('queue', "Shows the music that's currently queued.")
                            +cmd('restart', 'Restart the current song.')
                            +cmd('repeat', 'Set if the music player should repeat.')
                            +cmd('voteskip', 'Vote to skip the current music track.')
                            +cmd('volume', 'Set the volume of the music player.')
                            +cmd('jump', 'Set the time marker of the music playback.')
                            +cmd('discordfm', 'Stream random songs from DiscordFM stations!')
                            +cmd('youtube', 'Search and see YouTube results.')
                            +cmd('soundcloud', 'Search and see SoundCloud results.')