#fun.messages-group
    .header Fun and Dank Memes
    .messages
        +msg('assets/img/avarel.jpg', 'Avalon', '_google discord')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-content
                .description
                    .title Google Results
                    .text
                        p: b: a Discord - Free Voice and Text Chat for Gamers
                        p Step up your game with a modern voice & text chat app. Crystal clear voice, multiple server and channel support, mobile apps, and more. Get your free server  ...
                        br
                        p: b: a Discord - Chat for Gamers - Android Apps on Google Play
                        p Teen. Discord is the only cross-platform voice and text chat app designed specifically for gamers.
                        br
                        p: b: a Discord - Chat for Gamers on the App Store - iTunes - Apple
                        p Dec 22, 2016 ... Discord is the only cross-platform voice and text chat app designed specifically for gamers.
                img.thumb(src='assets/img/google.jpg')

        +msg('assets/img/avarel.jpg', 'Avalon', '_ub bot')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-desc
                .title Urban Dictionary
                .fields
                    .field
                        .field-title Word
                        | bot
                .fields
                    .field
                        .field-title Definition
                        p 1. Simple computer program used to perform highly repetitive operations, e.g. trawling websites to collect email addresses.
                        p 2. Computer program run concurrently with an online game to give the player an unfair advantage. Bots may alter the game environment, boost the abilities of the player's character or hinder opponents. Writing bots requires a great deal of skill; using them almost none.
                .fields
                    .field
                        .field-title Example
                        p "So you're using an aimbot... and he's using an aimbot... if you're both going to cheat, why bother to play?"
                        p "Just to show that I cheat better than him."

        +msg('assets/img/avarel.jpg', 'Avalon', 'Seagull#1894')
        +msg('assets/img/logo.jpg', 'Gnar')
            .embed-wrapper
                .color-pill
                .content-inner
                    .description
                        .title Overwatch Stats: Seagull-1894
                        .text
                            p Battle Tag: <a>Seagull-1894</a>
                            p Region: <a>US</a>

                        .fields
                            .field
                                .field-title General
                                p Level: <a>187</a>

                        .fields
                            .field-inline
                                .field-title Quick Play
                                p Avg. Elims: <a>20.3</a>
                                p Avg. Deaths: <a>5.42</a>
                                p Wins: <a>382</a>
                                p K/D Ratio: <a>3.74</a>
                                p Played for: <a>64 hours</a>
                            .field-inline
                                .field-title Competitive
                                p Avg. Elims: <a>35.29</a>
                                p Avg. Deaths: <a>7.68</a>
                                p Wins/Draws/Loses: <a>74</a> | <a>7</a> | <a>48</a>
                                p K/D Ratio: <a>4.59</a>
                                p Played for: <a>30 hours</a>
                                p Comp. Rank: <a>4557</a> (Grand Master)

                            .field
                                .field-title Overall
                                p Eliminations: <a>15375</a>
                                p Medals: <a>2092</a>
                                p Total Damage: <a>6577647</a>
                                p Cards: <a>402</a>
                    img.thumb(src='assets/img/reinhardt.png')