#general.messages-group
    .header General Commands
    .messages
        +msg('assets/img/avarel.jpg', 'Avalon', '_invite')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-desc
                .title Want some Gnar?!
                .text: p: a Click to invite Gnar to your server.
        +msg('assets/img/avarel.jpg', 'Avalon', '_ping')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-desc
                .title Response Time
                .text: p 91ms
        +msg('assets/img/avarel.jpg', 'Avalon', '_whois full-stack engineer')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-content
                .description
                    .title Who Is Programmix?
                    .fields
                        .field-inline
                            .field-title Name
                            | Programmix
                        .field-inline
                            .field-title Discriminator
                            | 0748
                        .field-inline
                            .field-title ID
                            | 80801429802983424
                        .field-inline
                            .field-title Join Date
                            | 2016-08-17
                        .field-inline
                            .field-title Nickname
                            | full-stack engineer
                        .field-inline
                            .field-title Game
                            | None
                        .field-inline
                            .field-title Roles
                            p • Aethex Developer
                            p • Mods
                            p • プログラマ
                            p • Proficients
                            p • AethexMuted
                            p • Helpers
                            p • Donators
                            p • Programmers
                            p • Bot Commander
                img.thumb(src='assets/img/programmix.jpg')
