#general.messages-group
    .header General Commands
    .messages
        .message
            .icon: img.responsive-img(src='img/logo.jpg')
            .body
                .user-name Gnar
                .embed-wrapper
                    .color-pill
                    .content-inner
                        .description
                            .title Want some Gnar?!
                            p: a Click to invite Gnar to your server.
        .message
            .icon: img.responsive-img(src='img/avarel.jpg')
            .body
                .user-name Avalon
                .content _ping
        .message
            .icon: img.responsive-img(src='img/logo.jpg')
            .body
                .user-name Gnar
                .embed-wrapper
                    .color-pill
                    .content-inner
                        .description
                            .title Response Time
                            p 91ms
        .message
            .icon: img.responsive-img(src='img/avarel.jpg')
            .body
                .user-name Avalon
                .content _whois full-stack engineer
        .message
            .icon: img.responsive-img(src='img/logo.jpg')
            .body
                .user-name Gnar
                .embed-wrapper
                    .color-pill
                    .content-inner
                        .description
                            .title Who Is Gnar?
                            p Name: <a>Programmix#0748</a>
                            p ID: <a>80801429802983424</a>
                            br
                            p: b: u General</a>
                            p Nick: <a>full-stack engineer</a>
                            p Game: <a>None</a>
                            p Bot: <a>FALSE</a>
                            p Clearance: <a>SERVER OWNER</a>
                            br
                            p: b: u Roles
                            p - <a>Aethex Developer</a>
                            p - <a>Mods</a>
                            p - <a>プログラマ</a>
                            p - <a>Proficients</a>
                            p - <a>AethexMuted</a>
                            p - <a>Helpers</a>
                            p - <a>Donators</a>
                            p - <a>Programmers</a>
                            p - <a>Bot Commander</a>
                        img.thumb(src='img/programmix.jpg')
        .message
            .icon: img.responsive-img(src='img/avarel.jpg')
            .body
                .user-name Avalon
                .content _invite
        .message
            .icon: img.responsive-img(src='img/avarel.jpg')
            .body
                .user-name Avalon
                .content _ub bot
        .message
            .icon: img.responsive-img(src='img/logo.jpg')
            .body
                .user-name Gnar
                .embed-wrapper
                    .color-pill
                    .content-inner
                        .description
                            .title Urban Dictionary
                            p Word: <a>bot</a>
                            br
                            br
                            p Definition:
                            p: a 1. Simple computer program used to perform highly repetitive operations, e.g. trawling websites to collect email addresses.
                            br
                            p: a 2. Computer program run concurrently with an online game to give the player an unfair advantage. Bots may alter the game environment, boost the abilities of the player's character or hinder opponents. Writing bots requires a great deal of skill; using them almost none.
                            br
                            br
                            p Example:
                            p: a "So you're using an aimbot... and he's using an aimbot... if you're both going to cheat, why bother to play?"
                            p: a "Just to show that I cheat better than him."
