#general.messages-group
    .header General Commands
    .messages
        +msg('assets/img/melmsie.png', 'Melmsie', '_invite')
        +msg('assets/img/logo.png', 'Octave')
            +embed-desc
                .title Want some Octave?!
                .text: p: a(href="https://discordapp.com/oauth2/authorize?scope=bot&client_id=201492375653056512&permissions=8") Click to invite Octave to your server.
        +msg('assets/img/melmsie.png', 'Melmsie', '_ping')
        +msg('assets/img/logo.png', 'Octave')
            +embed-desc
                .fields
                    .field-inline
                        .field-title Rest
                        | 66
                    .field-inline
                        .field-title Web Socket
                        | 26
        +msg('assets/img/melmsie.png', 'Melmsie', '_whois Dank Memer')
        +msg('assets/img/logo.png', 'Octave')
            +embed-content
                .description
                    .title Who Is Dank Memer?
                    .fields
                        .field-inline
                            .field-title Name
                            | Dank Memer
                        .field-inline
                            .field-title Discriminator
                            | 5192
                        .field-inline
                            .field-title ID
                            | 270904126974590976
                        .field-inline
                            .field-title Join Date
                            | Thu, 9 Nov 2017
                        .field-inline
                            .field-title Nickname
                            | Memey Memer
                        .field-inline
                            .field-title Activity
                            | pls help
                        .field-inline
                            .field-title Roles
                            p • Memes
                            p • BotAdmin
                            p • Trusted Boats
                            p • Dank Memer
                            p • Other Boats
                            p • Updates
                img.thumb(src='assets/img/memer.png')
