#general.messages-group
    .header General Commands
    .messages
        +msg('assets/img/avarel.jpg', 'Avalon', '_invite')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-desc
                .title Want some Gnar?!
                .text: p: a Click to invite Gnar to your server.
        +msg('assets/img/avarel.jpg', 'Avalon', '_ping')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-desc
                .title Response Time
                .text: p 91ms
        +msg('assets/img/avarel.jpg', 'Avalon', '_whois full-stack engineer')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-content
                .description
                    .title Who Is Gnar?
                    .text
                        p Name: <a>Programmix#0748</a>
                        p ID: <a>80801429802983424</a>
                        br
                        p: b: u General</a>
                        p Nick: <a>full-stack engineer</a>
                        p Game: <a>None</a>
                        p Bot: <a>FALSE</a>
                        p Clearance: <a>SERVER OWNER</a>
                        br
                        p: b: u Roles
                        p • <a>Aethex Developer</a>
                        p • <a>Mods</a>
                        p • <a>プログラマ</a>
                        p • <a>Proficients</a>
                        p • <a>AethexMuted</a>
                        p • <a>Helpers</a>
                        p • <a>Donators</a>
                        p • <a>Programmers</a>
                        p • <a>Bot Commander</a>
                img.thumb(src='assets/img/programmix.jpg')
