#music.messages-group
    .header Music Commands
    .messages
        +msg('assets/img/avarel.png', 'Avalon', '_play necrodancer 5-3')
        +msg('assets/img/logo.png', 'Gnar')
            +embed-desc('#00dd58')
                .title Music
                .text: p Joined channel <u>General</u>.
            +embed-desc('#00dd58')
                .title Music
                .text: p Added <u>Crypt of the Necrodancer AMPLIFIED OST - Six Feet Thunder (5-3)</u> to queue.
        +msg('assets/img/avarel.png', 'Avalon', '_voteskip')
        +msg('assets/img/logo.png', 'Gnar')
            +embed-desc('#00dd58')
                .title Vote Skip
                .text
                    p <a>Avarel</a> has voted to skip the current track! React with <b>👍</b> or <b>👎</b>!
                    p Whichever has the most votes in 30 seconds will win!
        +msg('assets/img/avarel.png', 'Avalon', '_youtube filthy frank')
        +msg('assets/img/logo.png', 'Gnar')
            +embed-content('#00dd58')
                .description
                    .title YouTube Results
                    .text
                        p: b: a PINK SEASON: THE PROPHECY (FT. GETTER, BORGORE, AXEL BOY, TASTYTREAT)
                        p <code class="inline">12:27</code> by <b>TVFilthyFrank</b>
                        p: b: a 7 EASY WAYS TO MAKE CHOCOLATE AT HOME
                        p <code class="inline">12:27</code> by <b>TVFilthyFrank</b>
                        p: b: a FILTHY FRANK VS CHIN CHIN
                        p <code class="inline">12:27</code> by <b>TVFilthyFrank</b>
                        p: b: a HITLER'S EVIL SON
                        p <code class="inline">12:27</code> by <b>TVFilthyFrank</b>
                        p: b: a WHY DRONES SUCK
                        p <code class="inline">12:27</code> by <b>TVFilthyFrank</b>

                img.thumb(src='assets/img/youtube.png')
        +msg('assets/img/avarel.png', 'Avalon', '3')
        +msg('assets/img/logo.png', 'Gnar')
            +embed-desc('#00dd58')
                .title Music
                .text: p Added <u>7 EASY WAYS TO MAKE CHOCOLATE AT HOME</u> to queue.