#music.messages-group
    .header Music Commands
    .messages
        +msg('assets/img/avarel.jpg', 'Avalon', '_play necrodancer 5-3')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-desc('#00dd58')
                .title Music
                .text: p Joined channel <u>General</u>.
            +embed-desc('#00dd58')
                .title Music
                .text: p Added <u>Crypt of the Necrodancer AMPLIFIED OST - Six Feet Thunder (5-3)</u> to queue.
        +msg('assets/img/avarel.jpg', 'Avalon', '_voteskip')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-desc('#00dd58')
                .title Vote Skip
                .text
                    p <a>Avarel</a> has voted to skip the current track! React with <b>👍</b> or <b>👎</b>!
                    p Whichever has the most votes in 30 seconds will win!
        +msg('assets/img/avarel.jpg', 'Avalon', '_youtube filthy frank')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-content
                .description
                    .title YouTube Results
                    .text
                        p: b: a FILTHY FRANK VS CHIN CHIN
                        p CHIN CHIN VS FRANK. WHO IS THE LORD OF CHROMOSOMES? TWITTER: https://twitter.com/FilthyFrank FACEBOOK: ...
                        br
                        p: b: a THE FILTHY FRANK SHOW 2017
                        p KICKING OFF 2017 WITH PINK SEASON TWITTER: https://twitter.com/FilthyFrank FACEBOOK: ...
                        br
                        p: b: a PIMP MY WHEELCHAIR
                        p A touching story about a man with cerebral palsy who finally gets some good chach. TITLE SEQUENCE: ...
                img.thumb(src='assets/img/youtube.png')
        +msg('assets/img/avarel.jpg', 'Avalon', '_choose 2')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-desc('#00dd58')
                .title Music
                .text: p Added <u>THE FILTHY FRANK SHOW 2017</u> to queue.
        +msg('assets/img/avarel.jpg', 'Avalon', '_queue')
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-desc('#00dd58')
                .title Music Queue

                .fields
                    .field
                        .field-title Now Playing
                        p: a Crypt of the Necrodancer AMPLIFIED OST - Six Feet Thunder (5-3)

                    .field
                        .field-title Queue
                        p <b>1</b> [04:01] <a>Notorious D.I.G. - Synth of the NecroDancer (mix)</a>

                    .field-inline
                        .field-title Entries
                        | 1
                    .field-inline
                        .field-title Queue Length
                        | 04:01