#sponsor.messages-group
    .header Partners-of-Octave
    .messages
        +msg('assets/img/logo.png', 'Octave Discord Music Avatar', 'Octave')
            +embed-desc('#5a8e3c')
                .title Dank Memer
                .text: p &#8203
                img.thumb(src='assets/img/memer.png', alt='Dank Memer logo')
                .text: p Memes, image manipulation, gambling, stealing, and stupidity. Our currency is in depth, our animals are cute, and our bot is the best!
                .text: p 
                    a(href='https://dankmemer.lol/' target='_blank')
                        | [Website] 
                    a(href='https://invite.dankmemer.lol/' target='_blank')
                        |  [Invite Bot]
        +msg('assets/img/logo.png', 'Octave')
            +embed-desc('#839fd4')
                .title Lulurd's Hideout
                .text: p &#8203
                img.thumb(src='assets/img/lulurd.gif', alt='Lulurd logo')
                .text: p Active Social Channels, level system, weekly chatting leaderboards, emojis that can be used anywhere on discord and 2 Dank Memer channels, robbing is enabled!
                .text: p 
                    a(href='https://discord.gg/lulurd' target='_blank')
                        | [Join Server]