#sponsor.messages-group
    .header Advertisements and Sponsors
    .messages
        +msg('assets/img/logo.png', 'Octave')
            +embed-desc
                .title Dank Memer
                img.thumb(src='assets/img/memer.png')
                .text: p
                    a(href='https://dankmemer.lol/' target='_blank')
                        | Memes, image manipulation, gambling, stealing, and stupidity. Our currency is in depth, our animals are cute, and our bot is the best!