#sponsor.messages-group
    .header Advertisements and Sponsors
    .messages
        +msg('assets/img/logo.jpg', 'Gnar')
            +embed-desc
                .title JProfiler (Free License)
                .text: p
                    a(href='https://www.ej-technologies.com/products/jprofiler/overview.html' target='_blank')
                        | Learn more about the award winning Java profiler!