extends layout

block content
    nav#nav.navbar-fixed
        .container.nav-wrapper
            a.brand-logo.page-scroll(href='#page-top') Gnar
            a.button-collapse(href="#" data-activates="mobilebar")
                i.material-icons menu
            ul.right.hide-on-med-and-down
                li: a(href='https://github.com/Gnar-Team/Gnar-bot', target='_blank')
                    i.material-icons class
                li: a(href='https://discord.gg/NQRpmr2', target='_blank')
                    i.material-icons forum
                li.uber-item: a(href='https://www.patreon.com/gnarbot', target='_blank')
                    i.material-icons.left attach_money
                    | Patreon
                li.super-item: a(href='/invite', target='_blank')
                    i.material-icons.left grade
                    | Invite Gnar
                if login
                    //li(style='height: 64px'):
                    li.alt-item
                        a.dropdown-button(href='#!' data-activates='dropdown')
                            img.discord-avatar.responsive-img(src=user.icon)
                            i.material-icons.right arrow_drop_down
                            = user.name
                        ul#dropdown.dropdown-content
                            li: a(href='#')
                                i.material-icons.left home
                                | Home
                            li.divider
                            li: a(href='/logout')
                                i.material-icons.left settings_power
                                | Logout
                else
                    li.alt-item: a(href='/login')
                        i.material-icons.left perm_identity
                        | Login

    ul#mobilebar.side-nav
        li: a.page-scroll(href='https://github.com/Gnar-Team/Gnar-bot', target='_blank')
            i.material-icons class
            | GitHub
        li: a.page-scroll(href='https://discord.gg/NQRpmr2', target='_blank')
            i.material-icons forum
            | Discord Channel
        li.uber-item: a.page-scroll(href='https://www.patreon.com/gnarbot', target='_blank')
            i.material-icons.left attach_money
            | Patreon
        li.super-item: a.page-scroll(href='/invite', target='_blank')
            i.material-icons.left grade
            | Invite Gnar
        if login
            li: a(href='#')
                i.material-icons.left home
                | Home
            li.divider
            li: a(href='/logout')
                i.material-icons.left settings_power
                | Logout
        else
            li: a(href='/login')
                i.material-icons.left perm_identity
                | Login

    #page-top.hero
        .container
            .row.valign-wrapper
                .col.s12.l3
                    .card-panel.header-content.z-depth-3
                        header.hide-on-med-only
                            center
                                img.z-depth-5.main-icon.responsive-img.circle(src='assets/img/logo.png')
                                h1 GNAR
                            h2.
                                Gnar is a Discord <u>music bot</u> packed with dank memes, fun, and other goodies.
                        .hide-on-large-only.hide-on-small-and-down
                            .row.valign-wrapper
                                .col.s12
                                    img.z-depth-5.main-icon.responsive-img.circle(src='assets/img/logo.png', style="float: left; width: 150px")
                                    div(style='margin-left: 200px')
                                        h1 Gnar
                                        h2.
                                            Gnar is a Discord <u>music bot</u> packed with dank memes, fun, and other goodies.
                .col.m12.l9
                    include discord-mockup/mockup