extends layout


mixin nav-items
    li: a.page-scroll(href='https://github.com/Gnar-Team/Gnar') GitHub
    li.super-item: a.page-scroll(href='https://discordapp.com/oauth2/authorize?client_id=201492375653056512&scope=bot&permissions=8') Get Gnar

block content

    nav#nav.navbar-fixed
        .container.nav-wrapper
            a.brand-logo.page-scroll(href='#page-top') Gnar
            a.button-collapse(href="#" data-activates="mobilebar")
                i.material-icons menu
            ul.right.hide-on-med-and-down
                +nav-items

    ul#mobilebar.side-nav
        +nav-items

    .hero
        .container
            .row.valign-wrapper.no-valign-wrap-on-mobile
                .col.s12.l3
                    .card-panel.header-content
                        center: img.z-depth-5.main-icon.responsive-img.circle(src='assets/img/logo.jpg')
                        h1 GNAR
                        h2= splash_text
                .col.m12.l9
                    include discord-mockup/mockup

    //section.primary
    //    .container
    //        .row
    //            .col.s12.center-align
    //                h1 Lul
    //                h2 eyooo
    //        .row
    //            .col.l3.m6.s12: .card.small
    //                .card-content
    //                    p Hello there
    //            .col.l3.m6.s12: .card.small
    //                .card-content
    //                    p Hello there
    //            .col.l3.m6.s12: .card.small
    //                .card-content
    //                    p Hello there
    //            .col.l3.m6.s12: .card.small
    //                .card-content
    //                    p Hello there

