extends layout

block content
    nav#nav.navbar-fixed
        .container.nav-wrapper
            a.brand-logo.page-scroll(href='#page-top') Octave
            a.button-collapse(href="#" data-activates="mobilebar")
            ul.right.hide-on-med-and-down
                li.super-item: a(href='https://invite.octave.gg', target='_blank')
                    | Add Octave
                li.super-item: a(href='https://support.octave.gg', target='_blank')
                    | Support Server
                if login
                    //li(style='height: 64px'):
                    li.super-item
                        a.dropdown-button(href='#!' data-activates='dropdown')
                            i.material-icons.right arrow_drop_down
                            = user.name + '#' + user.discriminator
                        ul#dropdown.dropdown-content
                            li: a(href='#')
                                i.material-icons.left home
                                | Home
                            li.divider
                            li: a(href='/logout')
                                i.material-icons.left settings_power
                                | Logout
                else
                    li.super-item: a(href='/login')
                        i.material-icons.left perm_identity
                        | Login

    ul#mobilebar.side-nav
        li.super-item: a.page-scroll(href='https://invite.octave.gg', target='_blank')
            i.material-icons.left grade
            | Add Octave
        li.super-item: a(href='https://support.octave.gg', target='_blank')
                    i.material-icons.left add_circle
                    | Support Server
        if login
            li: a(href='#')
                i.material-icons.left home
                | Home
            li.divider
            li: a(href='/logout')
                i.material-icons.left settings_power
                | Logout
        else
            li: a(href='/login')
                i.material-icons.left perm_identity
                | Login

    #page-top.hero
        .container
            .row.valign-wrapper
                .col.s12.l3
                    .card-panel.header-content.z-depth-3
                        header.hide-on-med-only
                            center
                                img.main-icon.responsive-img.float(src='assets/img/logo2.png', alt='Free discord music bot, Octave\'s logo')
                                h1 Octave
                                h2.
                                    The best Discord Music Bot with free volume control and Spotify support!
                                a.btn(href='https://invite.octave.gg') Octave
                                a.btn.canary(href='https://canary.octave.gg') Octave Canary
                        .hide-on-large-only.hide-on-small-and-down
                            .row.valign-wrapper
                                .col.s12
                                    img.z-depth-5.main-icon.responsive-img.circle(src='assets/img/logo.png', style="float: left; width: 150px", alt='Free discord music bot, Octave\'s logo')
                                    div(style='margin-left: 200px')
                                        h1 Octave
                                        h2.
                                            The best Discord Music Bot with free volume control and Spotify support!
                                        a.btn(href='https://invite.octave.gg') Octave
                                        a.btn.canary(href='https://canary.octave.gg') Octave Canary
                                        
                .col.m12.l9
                    include discord-mockup/mockup
                    
