doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //meta(name='description', content='Gnar is a Discord music bot with dank memes, fun, and other goodies.')
        meta(name='author', content='Avarel')
        title Gnar - Discord Music Bot

        link(rel='icon' href='favicon.ico' type='image/x-icon')

        link(href='scss/vendor/materialize/materialize.css', rel='stylesheet')

        link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')

        // Icons
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css')

        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='vendor/device-mockups/device-mockups.min.css')

        link(href='scss/discord-mockup.css', rel='stylesheet', type="text/css")
        link(href='scss/style.css', rel='stylesheet', type="text/css")

    body#page-top
        block content

        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/jquery/jquery.matchHeight.js')
        script(src='vendor/materialize/js/bin/materialize.min.js')
        script(src='js/theme.js')
        script(src='js/discord-mockup.js')