doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(
            name='description',
            content='Never miss a beat with Octave, the best free Discord music bot delivering high quality audio to hundreds of thousands of servers. We support Youtube, Spotify, Soundcloud, and more!'
        )
        meta(
            name='keywords',
            content='discord,music,bot,youtube,soundcloud,twitch,discordfm,beam,gnar bot,music bot,octave,discord music bot,simple,easy,quality'
        )
        meta(property="og:title", content="Octave - The Best Free Discord Music Bot")
        meta(property="twitter:title", content="Octave - The Best Free Discord Music Bot")
        meta(property="og:description", content="Never miss a beat with Octave, the best free Discord music bot delivering high quality audio to hundreds of thousands of servers. We support Youtube, Spotify, Soundcloud, and more!")
        meta(property="twitter:description", content="Never miss a beat with Octave, the best free Discord music bot delivering high quality audio to hundreds of thousands of servers. We support Youtube, Spotify, Soundcloud, and more!")
        meta(property="og:image", content="https://octave.gg/assets/img/logo.png")
        meta(property="theme-color", content="#9571d3")

        title Octave - Best Free Discord Music Bot

        link(rel='icon' href='favicon.ico' type='image/x-icon')

        link(href='scss/vendor/materialize/materialize.css', rel='stylesheet')

        link(href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Lato|Montserrat', rel='stylesheet')

        // Icons
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

        link(href='scss/discord-mockup.css', rel='stylesheet', type="text/css")
        link(href='scss/style.css', rel='stylesheet', type="text/css")

    body#page-top
        block content

        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/jquery/jquery.matchHeight.js')
        script(src='vendor/materialize/js/bin/materialize.min.js')
        script(src='js/theme.js')
        script(src='js/discord-mockup.js')
        <!-- Start Alexa Certify Javascript -->
// Start Alexa Certify Javascript
script(type='text/javascript').
  _atrk_opts = { atrk_acct:"Syipu1hNdI20fn", domain:"octave.gg",dynamic: true};
  (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
noscript
  img(src='https://certify.alexametrics.com/atrk.gif?account=Syipu1hNdI20fn' style='display:none' height='1' width='1' alt='')
// End Alexa Certify Javascript
  
