doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        title Gnar

        link(href='scss/vendor/materialize/materialize.css', rel='stylesheet')

        link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Muli', rel='stylesheet')

        // Icons
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css')

        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='vendor/device-mockups/device-mockups.min.css')

        link(href='scss/discord-mockup.css', rel='stylesheet', type="text/css")
        link(href='scss/style.css', rel='stylesheet', type="text/css")
        //link(href='lesscss/newtheme.less', rel='stylesheet', type="text/css")
        //link(href='/../less/newtheme.less', rel='stylesheet', type="text/css")

        //link(href=pippo.publicAt('css/index.css'), rel='stylesheet', type="text/css")
        link(href='vendor/animate/animate.css', rel='stylesheet', type="text/css")

        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')

    body#page-top
        block content

        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/jquery/jquery.matchHeight.js')
        script(src='vendor/materialize/js/bin/materialize.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
        script(src='js/theme.js')
        script(src='js/discord-mockup.js')