doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(
            name='description',
            content='Never miss a beat with Octave, a simple and easy to use Discord music bot delivering high quality audio to hundreds of thousands of servers. We support Youtube, Soundcloud, and more!'
        )
        meta(
            name='keywords',
            content='discord,music,bot,youtube,soundcloud,twitch,discordfm,beam,gnar bot,music bot,octave,discord music bot,simple,easy,quality'
        )
        meta(property="og:title", content="Octave - The Best Free Discord Music Bot")
        meta(property="twitter:title", content="Octave - The Best Free Discord Music Bot")
        meta(property="og:description", content="Never miss a beat with Octave, a simple and easy to use Discord music bot delivering high quality audio to hundreds of thousands of servers. We support Youtube, Soundcloud, and more!")
        meta(property="twitter:description", content="Never miss a beat with Octave, a simple and easy to use Discord music bot delivering high quality audio to hundreds of thousands of servers. We support Youtube, Soundcloud, and more!")
        meta(property="og:image", content="https://octave.gg/assets/img/logo.png")
        meta(property="theme-color", content="#9571d3")

        title Octave - Best Discord Music Bot

        link(rel='icon' href='favicon.ico' type='image/x-icon')

        link(href='scss/vendor/materialize/materialize.css', rel='stylesheet')

        link(href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Lato|Montserrat', rel='stylesheet')

        // Icons
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

        link(href='scss/discord-mockup.css', rel='stylesheet', type="text/css")
        link(href='scss/style.css', rel='stylesheet', type="text/css")

    body#page-top
        block content

        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/jquery/jquery.matchHeight.js')
        script(src='vendor/materialize/js/bin/materialize.min.js')
        script(src='js/theme.js')
        script(src='js/discord-mockup.js')